<div *ngIf="!isLoggedIn">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div>
            <label>
            UserName:
        </label>
            <input name="username" placeholder="username" ngModel/>
            <label>
            Password:
        </label>
            <input name="password" type="password" placeholder="password" ngModel/>
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<div *ngIf="isLoggedIn">
    Welcome {{name}}
    <button (click)="onLogOut()">LogOut</button>
</div>
<div [ngStyle]="{ 'color': 'red'}" *ngIf="unAuthorised">
    Invalid username or password.
</div>